@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');



@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

body {
  margin: 0;
  background-color: #f0f2f5; /* Light gray background */
  color: #333;
}